<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django surveys!</title>
    <script src="{% static 'js/tailwind.js' %}"></script>
</head>
<body>
    <!-- informative page about the project styles with tailwind css -->
    <!-- user should be logged in first -->

    <div class="flex flex-col justify-center items-center h-screen">
        <h1 class="text-3xl font-bold">Welcome to Django surveys!</h1>
        <h4 class="text-xl font-bold">Create your own surveys!</h4>
        <p class="text-xl">This project is a simple survey app where you can create surveys, add questions to them, and answer them.</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10">
            <a href="{% url 'account_login' %}">Login</a>
        </button>
    </div>
    
</body>
</html>